body {
     margin: 0;
	background-color: #f0e5da;
    background-image: url("../img/bgnd.jpg");
	background-repeat: repeat;
	 }

/*
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /- Set the fixed height of the footer here -/
  height: 60px;
}
*/


header {
	margin-top:20px;
}

a, a:hover, a:visited {
	color:#453b31;
	text-decoration: underline;
}

a:hover {
	font-decoration: none;
}

/* Header */
.dnpb_title {
	color: #5b3e3c;
	font-family: "Sylfaen",Times;
	font-size:15px;
	padding-top:3px;
}

.dnpb_title p{
	font-weight:bold;
	margin-top:-2px;
	padding-bottom:0px;
	margin-bottom:0px;
}

.dnpb_title center > p > small {
	font-size:10px;
}

.dnpb_title img {
	margin-top:-13px;
}

.dnpb_title small {
	font-size:13px;
	letter-spacing:-1.1px;
	line-height:1;
}

.dnpb_block {
	outline: 1px solid #b7afa4;
	padding: 20px 30px 20px 20px;
	margin-bottom:20px;
}

.dnpb_block > h1, .dnpb_block > h2, .dnpb_block > h3 {
	display:inline;
}

.dnpb_border {
	outline: 1px solid #b7afa4;
}

/* Top Menu */
.dnpb_topmenu li a, .dnpb_langmenu li a {
	padding: 5px 15px;
	color:#453b31;
	text-decoration: underline;
	font-size:12px;
	font-family: "Sylfaen",Times;
}

.dnpb_langmenu {
	margin-bottom:10px;
}

.nav-pills > li.active > a, .nav-pills > li.active > a:focus, .nav-pills > li.active > a:hover {
    color: #FFF;
    background-color: #cfc1ba;
}

img.dnpb_portrait {
	margin:0 0 0 15px;
}

/* Address */
.dnpb_address {
	padding:10px 10px 10px 20px;
}

.dnpb_address address {
	font-size:11px;
	margin-bottom:0px;
}

.dnpb_address a,.dnpb_address a:visited, .dnpb_address a:hover {
	color:#461913;
}

/* Search Button */
.dnpb_btn_search {
	background: none;
	border:none;
}


/* Main Menu */
.navbar-nav > li > a {padding-top:7px !important; padding-bottom:7px !important;}
.navbar {min-height:35px !important}

.dnpb_mainmenu {
	font-size:14px;
}

.dnpb-navbar {
    border-color: #f9f4ef;
	background-image: linear-gradient(to bottom, #FEFDFC 0px, #F3EBE1 100%);
}

.dnpb-navbar .dnpb_mainmenu > li.active > a{
	background-color: #D4C8C3;
	background-image: none;
	color:white;
	text-decoration:none;
}
